<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/forbidden.css">
    <title>Forbidden</title>
</head>
<body>
    <div class="scene">
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <span class="bg-403">403</span>
        <div class="text">
          <span class="hero-text"></span>
          <span class="msg">Tienes que estar <span>logueado</span> para ingresar</span>
          <span class="support">
            <a href="/login">Ingresar</a>
            <a href="/">Volver al menú principal</a>
          </span>
        </div>
        <div class="lock"></div>
      </div>
</body>
</html>