<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet">
    <link href="/css/newsletter.css" rel="stylesheet">
    <title>Thank you!</title>
</head>
<body>
    <div class=content>
        <div class="wrapper-1">
          <div class="wrapper-2">
            <h1>Thank you !</h1>
            <p>Thanks for subscribing to our news letter.  </p>
            <p>you should receive a confirmation email soon  </p>
          </div>
          <a href="/" type="submit" class="go-home">
            go home
          </a>
          <div class="footer-like">
            <p>Email not received?
             <a href="#">Click here to send again</a>
            </p>
          </div>
      </div>
      </div>

     
</body>
</html>